{
    "lua.workspace.library": [
        "${workspaceFolder}/vmupro-sdk/sdk/api"
    ],
    "lua.diagnostics.globals": [
        "vmupro", "import"
    ],
    "files.associations": {
        "*.lua": "lua"
    }
}
